@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
/* font-family: "Lato", sans-serif; */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  max-width: 1920px;
  margin: 0 auto;
}

/* shared styles */
.primary-color {
  color: #e55473;
}

.secondary-color {
  background: rgba(229, 84, 115, 0.05);
}

.dark-1 {
  color: #272727;
}

.dark-2 {
  color: rgba(39, 39, 39, 0.6);
}

.btn-primary {
  color: rgb(255, 255, 255);
  font-family: Lato;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  border-radius: 8px;
  background-color: #e55473;
  padding: 20px 43px;
  border: none;
}

/* styles */

.header {
  background: rgba(229, 84, 115, 0.1);
  display: flex;
  gap: 97px;
  align-items: center;
  padding: 0 240px;
}

.header-text-content .header-title {
  font-size: 80px;
  font-weight: 800;
  line-height: 96px;
}

.header-text-content .header-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin: 32px 0;
}

.hero-flower img {
  margin-bottom: 0;
  padding-bottom: 0;
}

/* our-featured-flowers */

.our-featured-flowers { 
  margin: 178px 240px 128px;
}

.featured-flowers-header {
  text-align: center;
}

.flowers-title {
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
}

.flowers-sub-title {
  margin: 24px 0 48px;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.flowers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.flower1 {
  border-radius: 50% 50% 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  height: 538px;
  display: flex;
  justify-content: center;
  align-items: end;
}

.flower1 img {
  width: 310px;
  height: 428px;
}

.flower2 {
  border-radius: 50% 50% 0px 0px;
  background: rgba(5, 151, 160, 0.15);
  height: 538px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flower3 {
  border-radius: 50% 50% 0px 0px;
  background: rgba(71, 125, 17, 0.15);
  height: 538px;
  display: flex;
  justify-content: center;
  align-items: end;
}

.flower-name {
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
  text-align: center;
  text-decoration: underline;
  margin-top: 32px;
}

/* Our Characteristics */
.characteristics-list {
  display: flex;
  justify-content: space-between;
  margin: 128px 240px;
  padding: 87px 175px;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
}

.characteristics-item {
  text-align: center;
}

.characteristics-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 35px;
  margin-top: 25px;
}

/* Hot Deal Section */

.hot-deal {
  display: flex;
  gap: 186px;
  justify-content: space-between;
  align-items: center;
  background: rgba(229, 84, 115, 0.05);
  padding: 100px 429px 100px 395px;
}

.hot-deal title {
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
}

.hot-deal .description {
  margin: 24px 0 32px;
}

.hot-deal .text-content {
  text-align: center;
}
